@charset "UTF-8";

*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

html, body{
    height: 100vh; /*Altura total do navegador*/
    width: 100vw; /*Largura total do navegador*/
    background-color: black;
}

body{
    background: url('../imagens/fundo-madeira.jpg') no-repeat top center; /*Adicioando a imagem de fundo do corpo a ativando a opção sem repetição no topo e centralizada*/
    background-size: cover; /*Ativando a opção de cobrir a tela inteira*/
    background-attachment: fixed; /* Permite que não aconteça uma barra de rolagem deixando nosso fundo fixo na tela*/
    
}

main{
    height: 100vh;
    position: relative;/* Preparação para posicionar nossa imagem*/
}

#telefone{
    position: absolute; /*Posicionamento da imagem*/
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); /*Menos metade pra cima e menos para esquerda ( agora sim conseguimos centralizar a imagem no meio )*/
    height: 627px;
    width: 311px;
    background: url('../imagens/frame-iphone.png') no-repeat; /*Adicionar a imagem e ativando a opção sem repetição*/
}

#tela{
    position: relative; /*Ajustando o posicionamento do meu iframe dentro da minha imagem*/
    top: 80px;
    left: 22px;
    width: 269px;
    height: 471px;
}

#redes-sociais{
    text-align: right; /* Colocar os icones do lado direito da tela*/
}

#redes-sociais img{
    width: 50px; /*Ajustando a largura, por padrão é ajustado a altura */
    margin: 10px; /*Espaçamento entre os ícones*/
    border-radius: 50%; /*Transforma os ícones em imagens arredondadas ( totalmente circular )*/
    box-shadow: 2px 2px 5px rgba(0, 0, 0.400);
    box-sizing: border-box; /* Faz com que a borda faça parte da mesma caixa */
}

#redes-sociais img:hover{
    border: 2px solid rgba(255, 255, 255, 0.663);
    transform: translate(-3px, -3px); /*Faz com que ao passar mouse por cima, o ícone dê uma leve enclinada para cima e para esquerda*/
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.601); /*Faz com que a sombra acompanha o ícone */
    transition: transform 0.3s, border 0.2s; /*Aplica ao ícones uma transição de 0.3 centézimos. ( Nesse exemplo, aplicamos também o mesmo contexto para uma transição com a borda )*/
}